.btn-primary {
    background-color: var(--primary);
    color: white;
    border: 1px solid var(--primary);
}

.btn-primary:hover {
    background-color: white;
    color: var(--primary-dark);
    border: 1px solid var(--primary-dark);
}

.btn-primary.btn-outlined {
    background-color: white;
    color: var(--primary-dark);
    border: 1px solid var(--primary-dark);
}

.btn-primary.btn-outlined:hover {
    background-color: var(--primary--dark);
    color: white;
    border: 1px solid var(--primary-dark);
}

.btn-secondary {
    background-color: var(--secondary);
    color: white;
    border: 1px solid var(--secondary);
}

.btn-secondary:hover {
    background-color: white;
    color: var(--secondary-dark);
    border: 1px solid var(--secondary-dark);
}

.btn-secondary.btn-outlined {
    background-color: white;
    color: var(--secondary-dark);
    border: 1px solid var(--secondary-dark);
}

.btn-secondary.btn-outlined:hover {
    background-color: var(--secondary--dark);
    color: white;
    border: 1px solid var(--secondary-dark);
}

.btn-success {
    background-color: var(--success);
    color: white;
    border: 1px solid var(--success);
}

.btn-success:hover {
    background-color: white;
    color: var(--success-dark);
    border: 1px solid var(--success-dark);
}

.btn-success.btn-outlined {
    background-color: white;
    color: var(--success-dark);
    border: 1px solid var(--success-dark);
}

.btn-success.btn-outlined:hover {
    background-color: var(--success--dark);
    color: white;
    border: 1px solid var(--success-dark);
}

.btn-warning {
    background-color: var(--warning);
    color: white;
    border: 1px solid var(--warning);
}

.btn-warning:hover {
    background-color: white;
    color: var(--warning-dark);
    border: 1px solid var(--warning-dark);
}

.btn-warning.btn-outlined {
    background-color: white;
    color: var(--warning-dark);
    border: 1px solid var(--warning-dark);
}

.btn-warning.btn-outlined:hover {
    background-color: var(--warning--dark);
    color: white;
    border: 1px solid var(--warning-dark);
}

.btn-danger {
    background-color: var(--danger);
    color: white;
    border: 1px solid var(--danger);
}

.btn-danger:hover {
    background-color: white;
    color: var(--danger-dark);
    border: 1px solid var(--danger-dark);
}

.btn-danger.btn-outlined {
    background-color: white;
    color: var(--danger-dark);
    border: 1px solid var(--danger-dark);
}

.btn-danger.btn-outlined:hover {
    background-color: var(--danger--dark);
    color: white;
    border: 1px solid var(--danger-dark);
}

.btn-info {
    background-color: var(--info);
    color: white;
    border: 1px solid var(--info);
}

.btn-info:hover {
    background-color: white;
    color: var(--info-dark);
    border: 1px solid var(--info-dark);
}

.btn-info.btn-outlined {
    background-color: white;
    color: var(--info-dark);
    border: 1px solid var(--info-dark);
}

.btn-info.btn-outlined:hover {
    background-color: var(--info--dark);
    color: white;
    border: 1px solid var(--info-dark);
}

.btn-light {
    background-color: white;
    color: var(--white-dark);
    border: 1px solid var(--white-dark);
}

.btn-light:hover {
    background-color: var(--white-dark);
    color: white;
    border: 1px solid var(--white-dark);
}

.btn-light.btn-outlined {
    background-color: var(--white-dark);
    color: white;
    border: 1px solid var(--white-dark);
}

.btn-light.btn-outlined:hover {
    background-color: white;
    color: var(--white-dark);
    border: 1px solid var(--white-dark);
}

.btn-dark {
    background-color: var(--black-dark);
    color: white;
    border: 1px solid var(--black-dark);
}

.btn-dark:hover {
    background-color: white;
    color: var(--black-dark);
    border: 1px solid var(--black-dark);
}

.btn-dark.btn-outlined {
    background-color: white;
    color: var(--black-dark);
    border: 1px solid var(--black-dark);
}

.btn-dark.btn-outlined:hover {
    background-color: var(--black-dark);
    color: white;
    border: 1px solid var(--black-dark);
}
